body{
    background-color: black;
}
section{
    border: 1px solid red;
    background-color: rgb(87, 216, 156);

}
header{
    border: 1px solid rgb(42, 160, 77); 
    height: 150px; 
    background-color: rgb(235, 226, 214);
    text-align: center;
    margin: 10px;
    display: flex;
    justify-content: center;
}
div{
    border: 1px solid rgb(42, 160, 77); 
    height: 70px; 
    margin-right: 1000px;
    background-color: rgb(57, 22, 155);
    text-align: center;
    

}

main{
    border: 1px solid rgb(42, 160, 77); 
    height: 600px; 
    background-color: aqua;
    justify-content:center ;
    margin: 10px;
    display: flex;
}

footer{
    display: flex;
    border: 1px solid rgb(42, 160, 77); 
    height: 150px; 
    background-color: rgb(250, 3, 56);
    justify-content: center;
    
}
article{
    border: 1px solid rgb(42, 160, 77); 
    height: 110px; 
    background-color: rgb(117, 14, 14);
    justify-content: center;
    margin: 10px;
    width: 500px;
    
}



.seccion1{
    border: 1px solid rgb(42, 160, 77); 
    height: 100px; 
    background-color: rgb(148, 93, 22);
    text-align: center;
    margin: 10px;
    display: flex;
    justify-content: center;
    width: 500px;
}
.seccion2{
    border: 1px solid rgb(42, 160, 77); 
    height: 100px; 
    background-color: rgb(148, 93, 22);
    text-align: center;
    margin: 10px;
    display: flex;
    justify-content: center;
    width: 500px;
}
    
.articulo1{
    border: 1px solid rgb(42, 160, 77); 
    height: 550px; 
    background-color: rgb(148, 93, 22);
    text-align: center;
    margin: 10px;
    display: flex;
    justify-content: center;
    width: 500px;
}
.articulo2{
    border: 1px solid rgb(42, 160, 77); 
    height: 550px; 
    background-color: rgb(148, 93, 22);
    text-align: center;
    margin: 10px;
    display: flex;
    justify-content: center;
    width: 500px;
}
